@tailwind base;
@tailwind components;
@tailwind utilities;
.fancy-button {
  padding-inline: 1rem;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
}

.fancy-button::before {
  width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: 0;
  top: 0;
  transition-duration: 0.3s;
  mix-blend-mode: difference;
  transform: translate(-100%, 0%);
}

.fancy-button:hover::before {
  transition-duration: 0.3s;
  transform: translate(0, -20px);
  border-radius: 0;
}

.fancy-button:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}
